.main{
  background-color: aqua;
     border: 1px solid black;
     width: 280px;

     min-height: 300px;
}
#todo-item{
    margin-top: 5px;
}
#koo{
    width: 83px;
}
.nasir{ border: none;
    background-color: #e7e7e7; color: black;
    
    margin-top: 5px;
     margin-bottom: 5px;
      margin-left: 180px;
}
.nasir:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.jus{
    background-color: green;
    border: none;
    padding: 1px;
    margin: 4px;
    border-radius: 2px;  
}
.btn{
    background-color: red;
    border: none;
    padding: 1px;
    margin: 4px;
    border-radius: 2px;
     
      
}
.jus,.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }